.mapa{
  height: 80vh;
}

.rodape{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
}

.competicao{
  height: 90%;
  width: 90%;
  width: auto;
  margin: auto;
  cursor: pointer;
}


.mundo {
  height: 95vh;
  background-image: url("../img/mundo.svg");
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}
